<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    {% extends "layout.html" %}

    {% block content%}

        <div class="container">
            <div class ="overskrift"> 
            <h1>Velkommen til vores Jobportal</h1>
            </div>
            <div class= "tekst">
                <p>Velkommen til vores job portal, hvor virksomheder og jobsøgende mødes!</p>
                <p>Vores mål er at skabe en effektiv og brugervenlig platform, <br> hvor virksomheder kan finde kvalificerede og motiverede ansøgere, <br> og hvor jobsøgende kan finde drømmejobbet.</p>
                
            </div> <br>
        <div class="image-container">
            <div class="ledige">
            <img src="{{ user_image }}">
        </div>
    </div>

    {% endblock %}
</body>
</html>
