<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Velkommen til portalen</title>
    <style>
    </style>
</head>
<body>
    <div class="container">
        <div class ="overskrift"> 
        <h1>Velkommen til vores Jobportal</h1>
        </div>
        <div class= "tekst">
            <h1>Velkommen til vores Jobportal</h1>
            <p>Velkommen til vores job portal, hvor virksomheder og jobsøgende mødes!</p>
            <p>Vores mål er at skabe en effektiv og brugervenlig platform, hvor virksomheder kan finde kvalificerede og motiverede ansøgere, og hvor jobsøgende kan finde drømmejobbet.</p>
            <p>Vi har samlet tusindvis af jobmuligheder fra forskellige brancher og lokationer, så der er noget for enhver smag og erfaring.</p> 
            <p>På uanset om du leder efter dit første job eller ønsker at skifte karriere, er du kommet til det rigtige sted. Vores portal er nem at bruge og tilbyder en række funktioner, der hjælper dig med at finde det rigtige match. Så tøv ikke med at tage det første skridt i din karriere - tilmeld dig vores portal i dag og opdag de mange jobmuligheder, der venter på dig!</p>
        </div>
        <div class="button-container">
                <a href="login" class="button">Login</a>
                <a href="registrer" class="button">Register</a>
                <a href="#" class="button">søg</a>
        </div>
        <div class="image-container">
            <div class="ledige">
            <img src="{{ user_image }}">
        </div>
    </div>



    
</div>
</div>
</body>
</html>
