<!DOCTYPE html>
<html>
<head> 
    <meta charset="uft-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% extends "layout.html" %}

    {% block title %}
    Forside
    {% endblock %}
    
    {% block content %}
    <p>Her kan du søge på virksomheder og ledige</p>
    
    <div class="image-container">
        <div class="Home">
            <img src="{{ user_image }}" width="600" height="450">
        </div>
    </div>
  
    {% endblock %}

</body>
</html>
